.cardLoader {
  width: 10vw;
  animation: rotation 5s infinite linear
}

.cardLoader img {
  width: 100%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .cardLoader{
    width: 20vw;
  }
}